*.o
*.kate-swp
attic/*
/.project
/.cproject
/.pydevproject
/.externalToolBuilders
/.settings
.directory
.depend
generated*
sysroots
bitbake-logs
autocampars
launch_php_script
temp

all_sources.lst
excluding.lst
including.lst

doxygen.tag
/image
/scripts
/html